@import "tailwindcss";

* {
    font-family: poppins;
}

span {
    display: inline-block;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #f97316;
    /* orange-500 */
    transition: width 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%;
}