@import "tailwindcss";

@font-face {
  font-family: bitum;
  src: url(./assets/fonts/bitum_bold.ttf);
}
@font-face {
  font-family: bituml;
  src: url(./assets/fonts/bitum_light.ttf);
}

:root {
  
  

  
  --color-text: #111827;         
  --color-text-secondary: #4b5563; 
  --color-third:#ffffff;
  

  --color-bg: #ffffff;
  --color-hover: rgba(0, 0, 0, 0.05);
}

.dark {
     

  --color-text: #f9fafb;        
  --color-text-secondary: #d1d5db; 

  
  --color-bg: #111827;         
  --color-hover: rgba(255, 255, 255, 0.1);
}



